@import "../../vars.css";

.background {
  background-image: url("path/to/your/background-image.jpg");
  background-size: cover;
  background-position: center;
}

.body {
  background-image: linear-gradient(
      rgba(22, 33, 49, 0.736),
      rgba(26, 24, 24, 0.9),
      rgba(36, 36, 36, 0.7)
    ),
    url("../../assets/matrixbackground.jpg");
  background-size: cover;
  background-position: center;
  color: var(--color-text);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center; /* Horizontally center the container */
  align-items: center; /* Vertically center the container */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

/* hero */
.title {
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  color: var(--color-text);
}

.titleName {
  color: #ffea00;
}
.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  color: #16c9fb;
}

.heroImg {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
