/* navbar */
.nav {
  background-color: var(--color-bg);
  padding-top: 61px !important;
  z-index: 2;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

/* .menuItems {
  font-size: 25px;
  color: var(--color-text) !;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 47px;
} */
