@import "../../vars.css";
.experience {
  display: flex;
  flex-direction: column;
}

.experienceitem {
  margin-bottom: 20px;
}

.experiencedate {
  font-weight: bold;
  margin-bottom: 5px;
}

.experienceinfo h3 {
  margin-bottom: 5px;
}

.experienceinfo h4 {
  font-weight: normal;
  margin-bottom: 5px;
}

.experienceinfo p {
  margin-bottom: 5px;
}
